/*
    Created on : May 8, 2017, 8:47:45 AM
    Author     : rtenreis
*/

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

body {
  background: #9aae04;
  background: rgb(154,174,4);
  margin: 60px auto;
  font-family: 'Roboto', sans-serif;
}
.container{
  margin: 0 auto;
  max-width: 1200px;
}
header {
  background-image:  url("../imgs/HTML5_Logo_256.png"), url("../imgs/sky.jpg");
  background-position: 20px center, center bottom;
  background-size: 180px 180px, cover;
  background-repeat: no-repeat, repeat;
  height: 220px;
  line-height: 220px;
  padding-left: 220px;
  box-sizing: border-box;
  color: #e44d26;
  font-size: 56px;
  text-shadow: 2px 2px #ffffff;
  font-family: 'Ravi Prakash', cursive;
}
/**
 * Navigation menu
 */
nav {
  background: black;
  height: 60px;
}
nav ul{
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  width: 160px;
  text-align: center;
}

nav  ul li a {
  color: #aaa;
  display: block;
  line-height: 60px;
  padding: 0 20px;
  text-decoration: none;
}
nav  ul  li a:hover {
  color: #fff;
}
nav  ul  li a::before {
  content: '[';
  margin: 2px;
  transition: margin 0.5s ease-in-out;
}
nav  ul  li a::after {
  content: ']';
  margin: 2px;
  transition: margin 0.5s ease-in-out;
}
nav ul li a:hover::before,
nav ul li a:hover::after {
  margin: 8px;
}
article {
  background: white;
  min-height: 400px;
  padding: 20px;
  box-sizing: border-box;
}
section {
  max-width: 760px;
  width: 100%;
  float: left;
}
pre {
  border: 1px solid #666;
  background: #eaeaea;
  font-size: 12px;
}

aside {
  background: #eaeaea;
  width: 100%;
  max-width: 380px;
  float: right;
}

aside figure > div {
  border: 1px solid #e44d26;
  width: 300px;
  height: 150px;
  max-width: 100%;
  overflow: hidden;
}

aside figure > div img {
  max-width: 100%;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

.img-hover:hover img{
  width: 120%;
  max-width: 120%;
  margin: -10%;
}
article.container::after {
  clear: both;
  content: ' ';
  display: block;
}


footer {
  background: black;
  height: 60px;
  line-height: 60px;
  text-align: left;
  padding: 0 20px;
  box-sizing: border-box;
  color: white;
}
footer a{
  color: white;
}